
body{
    background-color: rgb(68, 211, 87);
    
    
}

header{
    background-color:rgb(209, 119, 119);
    font-family: salsans,sans-serif;
    
}

img{
    width: 150px;
    height: 200px;
}
.item3{
    display: inline-block;
}
.pelicula {
    display: inline-block;
}

.pago .flexbox{
    display: flex;
    justify-content: space-between;

}
.pago .expiracion{
    width: 50%;
    
}

.pago .cvv{
    min-width: 100px;
    width: 30%;
    height: 20px;
}

#cvv{
    width: 50%;
}

.pago .añoDeExpiracion{
    width: 100%;
    margin-right: 5px;
}

#sele

.cuadroDeFormulario{
    background-color: rgb(162, 250, 248);
    width: 50%;

}
.pag3{
    display: flex;
    justify-content: space-around;
}
/* diseño del la caja de resultados */
#resultado{
    background-color: rgb(188, 241, 241);
}
/* diseño del logo */
#resultado #logo{
    width: 80px;
    height: 50px;
}
/*diseño del formulario*/
.pagina3 .cuadroDeFormulario{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    width: 50%;
    height: 80vh;   
}
.tituloDeForm{
    font-family: arial;
    font-size: 5mm;
    color:rgb(241, 99, 142);
    width: 100%;
    padding-left: 35%;
    padding-top: 20px;
}
#formularioTotal{
    padding-left: 15%;
    font-family: arial;
}
.pagina3 input{
    border: 1px solid rgb(213, 238, 240);
    font-size: 18px;
    height: 50px;
    width: 80%;
    padding: 5px 12px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.pagina3 input:hover{
    border: 2px solid #85878a
}
.pagina3 input:focus{
    outline: black;
    box-shadow: 1px 7px 10px -5px rgb(187, 184, 174);
}

/*diseño de la compra*/
.pagina3 .importe{
    width: 50%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
}

