*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: arial;
    
    
}


/*DANDO ESTILO A LA BARRA DE MENU*/
.navegador{
    list-style: none;
    padding: 0;
    background: #f0416f;
    height: 75px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 5px 0 10px black;
}
.logo{
    color: white;
    font-size: 35px;
    font-weight:bold;
    padding: 20px;
}

.navegador .menu li{
    display:inline-block;
    margin-right: 0px;
    border-radius: 3px;
    margin: 0 15px;
    color: white;
    font-size: 18px;

}
.navegador .menu li:hover{
    background-color: rgba(0, 0, 0, 0.303);
    transition: 0.4s;
    padding: 7px 13px

}

.navegador .iconos li{
    display:inline-block;
    border-radius: 3px;
    margin: 0 15px;
    color: white;
    font-size: 18px;

}
.navegador .iconos li:hover{
    background-color: rgba(68, 66, 66, 0.303);
    transition: 0.4s;
    padding: 7px 13px

}

/*DANDO ESTILO A LA PORTADA*/
#portada{
    width:100%;
    height:450px;
}

/*DANDO ESTILOS A LAS IMAGENES DE LOS PRODUCTOS*/
.productos{
    width: 120px;
    height: 180px;
}
#flexboxPag1{
    display:flex;
    justify-content: space-between;
}
.comprarflex{
    display:flex;
    justify-content: space-between;
}

#pagina1 #flexboxPag1 li{
    list-style: none;
    width:100%; 
    margin-right: 5px;
    padding: 0 10px;
    border-radius: 3px;
    border-left: 1px solid gray;
}

#pagina1 #flexboxPag1 li:hover{
    transition: 0.4s;
    box-shadow: 5px 0 10px black;
}

h1{
    font-size:30px;
    color: rgb(225, 43, 98);
    text-align: center;
}
.descripcion{
    margin-bottom: 20px;

}
#pagina1 .tipoProducto{
    font-size: 12px;
    color: gray;
    font-style: italic;
    margin-bottom: 10px;
}

#flexboxPag1 .productos{
    margin-left: 25%;
    margin-bottom: 20px;
}

/*DANDO ESTILO A LOS BOTONES DE FORMULARIOS*/
.btn{
    border: 2px solid rgb(241, 31, 76);
    margin-bottom:30px;
    padding:20px;
    width: 200px;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    background-size: 100%;
    transition: 0.6s;
    background-color: white;
    font-weight: bold;
    float: right;
}
.btn:hover{
    background-image: linear-gradient(to right,  #FF8DAF, #FF6190, #eb074b);
    box-shadow: 2px 2px 0px rgb(155, 154, 154);
    color: white;
    font-weight: bold;
}






.item3{
    display: inline-block;
}

.pago .flexbox{
    display: flex;
    justify-content: space-between;

}
.pago .expiracion{
    width: 50%;
    
}

.pago .cvv{
    min-width: 100px;
    width: 30%;
    height: 20px;
}

#cvv{
    width: 66%;
}

.pago .añoDeExpiracion{
    width: 100%;
    margin-right: 5px;
}


.cuadroDeFormulario{
    background-color: rgb(162, 250, 248);
    width: 50%;

}
.pag3{
    display: flex;
    justify-content: space-around;
}


/* diseño del logo de tarjeta */
#resultado #logo{
    width: 80px;
    height: 50px;
}

/*diseño del formulario*/
.pagina3 .cuadroDeFormulario{
    background-color: rgb(255, 255, 255);
    border-left: 1px solid gray;
    width: 50%;
    height: 80vh;   
}

.tituloDeForm{
    color: rgb(235, 42, 74);
    font-weight: bold;
    line-height: 15mm;
    font-size: 25px;
    width: 100%;
    padding-left: 35%;
    padding-top: 20px;
}
#formularioTotal{
    padding-left:10%;
    font-family: arial;
}
.pagina3 input{
    border: 1px solid rgb(194, 194, 194);
    font-size: 18px;
    height: 50px;
    width: 80%;
    padding: 5px 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.pagina3 input:hover{
    border: 2px solid #85878a
}
.pagina3 input:focus{
    outline: black;
    box-shadow: 1px 7px 10px -5px rgb(187, 184, 174);
}

.pagina3 label{
    font-size: 15px;
    padding: 5px 12px;
    line-height: 10mm;
    font-weight: bold;
}
#inputNumber{
    margin-bottom: 5px;
}
#contenedorFecha_Cvv{
    margin-top: 20px;
}

#recordatorio{
    font-size: 12px;
    font-style: italic;
    color: red;
    margin-top:0; 
    padding-left: 12px;
}

/*diseño de la compra*/
.pagina3 .importe{
    width: 50%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
}

/*Diseño de la pagina de informacion*/
.informacion .flexBox{
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.informacion{
    display: flex;
    justify-content: space-between;
}
#informacionDeContacto{
    border-right: 1px solid gray;
    padding: 0 40px;
}
.informacion h{
    font-size: 25px;
    padding-left: 25%;
    color: rgb(235, 42, 74);
    font-weight: bold;
    line-height: 15mm;
}
.informacion p{
    font-size: 15px;
    color: gray;
    font-style: italic;

}
.informacion label{
    font-size: 15px;
    padding: 5px 12px;
    line-height: 10mm;
    font-weight: bold;
}
.informacion input{
    border: 1px solid rgb(194, 194, 194);
    font-size: 15px;
    height: 50px;
    width: 90%;
    padding: 5px 12px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.informacion input:focus{
    outline: black;
    box-shadow: 1px 7px 10px -5px rgb(187, 184, 174);
}
.informacion input:hover{
    border: 2px solid #85878a
}


/* DISEÑO DE LA CAJA DE RESULTADOS */
#resultado{
    background-color:rgb(211, 211, 211);
    border-radius: 5px;
    width: 50%;
    height: auto;   
    margin: auto;
    text-align: center;
    line-height: 50px;
}
#resultado .btn1{
    border: 2px solid rgb(182, 182, 182);
    margin-top:20px;
    padding:20px;
    width: 200px;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    background-size: 100%;
    transition: 0.6s;
    background-color: white;
    font-weight: bold;
}
#resultado .btn1:hover{
    background-image: linear-gradient(to right,  #FF8DAF, #FF6190, #eb074b);
    box-shadow: 2px 2px 0px rgb(155, 154, 154);
    color: white;
}


#resultado div{
    font-size: 15px;
}

#resultado .fas{
    font-size: 100px;
    color: rgb(27, 197, 12);
}
#resultado h{
    font-size:30px;
    font-weight: bold;
}
#resultado p{
    font-size: 20px;
    color: rgb(83, 83, 83);
}
/*ESTILOS DEL FOOTER*/
footer{
    width: 100%;
    padding: 0px 0px;
    background-color: rgb(221, 218, 218);
    background-size: cover;
}

.container_footer{
    display: flex;
    flex-wrap: wrap; /*ajustar el orden al tamaño de la pantalla*/
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.box_footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box_footer .logoFinal img{
    width: 180px;
}

.box_footer .terms{
    max-width: 350px;
    margin-top: 20px;
    color: rgb(100, 99, 99);
    font-size: 18px;
}

.box_footer h2{
    margin-top: 25px;
    margin-bottom: 30px;
    color: rgb(67, 67, 67)
}

.box_footer a{
    margin-top: 10px;
    color: #7a7a7a;
    text-decoration: none;
}

.box_footer a:hover{
    opacity: 0.8;
}
.box_footer a .fab{
    font-size:20px
}

.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box_copyright p{
    margin-top: 20px;
    color: #7a7a7a
}

.box_copyrighth hr{
    border: none;
    height: 2px;
    background-color: #7a7a7a;
}
